@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@theme {
  --color-licorice-500: oklch(18.38% 0.03 318.24);
  --color-magnolia-500: oklch(97.34% 0.0151 302.56);
  --color-sgbus-green-500: oklch(79.24% 0.2231 140.62);
  --color-lemon-lime-500: oklch(95.06% 0.207 116.67);
  --color-orange-peel-500: oklch(77.21% 0.1727 64.17);
  --custom-checkmark: '\2714';
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-licorice-500);
  background-color: var(--color-magnolia-500);

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--color-lemon-lime-500);
    outline-offset: 1px;
  }
}
